/**
 * @note CSS reset
 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/**
 * @test-app:
 */
#root {
  position: relative;
  height: 100vh;
  background: #f2f2f2;
  color: #4d4d4d;
}

.test-app {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 780px;
  margin: 0 auto;
}

.test-app > h1 {
  width: 100%;
  font-size: 32px;
  font-weight: 100;
  text-align: left;
  color: rgba(175, 47, 47, 0.15);
}
